

<h2>Eventos</h2>

<div action="" method="" class="form-inline">
  <div class="form-group mb-2">
    <label class="mr-2" for="filtro">
       Filtro
    </label>
    <input id="filtro"
    type="text"
    class="form-control mr-2"
    placeholder="buscar"
    [(ngModel)] = "filtro_lista"
    >
  </div>
</div>
<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th>
        Id
      </th>
      <th class="text-center">
      <button class="btn  btn-sm  btn-outline-light " (click)="ocultarimagem = !ocultarimagem"
        data-toggle="collapse" data-target = ".navegacao">
          {{(ocultarimagem ? "Ocultar" : "Mostrar")}}
        </button>
      </th>
      <th>
        Tema
      </th>
      <th>
        Local
      </th>
      <th>
       Data
      </th>
      <th>
        QtdPessoas
      </th>
      <th>
        Lote
      </th>
      <th>
        Opções
      </th>

    </tr>

  </thead>
  <tbody *ngIf="eventos_filtrado  && eventos_filtrado.length">

    <tr  *ngFor="let evento of eventos_filtrado">
        <td>
          {{evento.eventoId}}
        </td>
        <td class="">
         <!--../../assets/{{evento.imagemUrl}} ACESSO MANUAL POR PASTA-->
         <!--
          FORMTAÇÃO INLINE DO WITDTH
           <img src="/assets/{{evento.imagemUrl}}" width="150px">
         -->
         <!-- FORMATAÇÃO COM PROPERTIES BIND (PROPRIEDADES DE ASSOCIAÇÃO )
          OU SEJA JA FAZEM A INTERPOLAÇÃO E O BINDING PRA VOCE
          COMO AQUI JA INDICAMOS QUE É UM PX BASTA PASSARMOS O NUMERO
             OU SÓ O NUMERO OU A VARIAVEL
         -->                                                                       <!-- [collapse]Propriedade de binding(associação)-->
         <img src="/assets/{{evento.imagemUrl}}" class="navegacao ml-auto mr-auto collapse navbar-collapse" [collapse]="ocultarimagem" [isAnimated]="true" [style.width.px]="larguraimagem"  [style.margin.px]="margem_imagem">
          <!--trabalhando com a url http://localhost:4200/...-->
        </td>
        <td>
          {{evento.tema}}
        </td>
        <td>
          {{evento.local}}
        </td>
        <td>
          {{evento.dataEvento}}
        </td>
        <td>
          {{evento.qtdPessoas}}
        </td>
        <td>
          {{evento.lote}}
        </td>
        <td>
          <button class="btn btn-sm btn-primary mr-2">Editar</button>
          <button class="btn btn-sm btn-danger mr-2">Excluir</button>
        </td>

     </tr>


    </tbody>
    <tfoot *ngIf="!eventos_filtrado.length">
       <tr>
        <td colspan="7" class="text-center"><strong>Não há itens</strong></td>
       </tr>
    </tfoot>

</table>

<!--
COMO A INTERPOLAÇÃO E O BIND TRABALHAM ATRAVÉS DO PIPELINE(FILTRO)
PROPRIEDADE PARA EXBIR TODOS OS OBJETOS JSON DENTRO DO OBJETO Eventos DE UMA VEZ NA TELA
  {{Eventos | json}}
-->

