
<div class="card rounded shadow-sm p-3">
  <div>
    <div class="d-flex">
      <div class="flex-fill">  <!--ocupa 100% do espaço até um proximo item-->
        <div class="input-group mb-2">
          <div class="input-group-prepend">
            <div class="input-group-text" for="filtro">Filtro</div>
          </div>

          <input
            id="filtro"
            type="text"
            class="form-control"
            placeholder="buscar"
            [(ngModel)]="filtroDeLista"
          />
        </div>
      </div>

      <div class="ml-2">
        <a class="d-flex btn btn-outline-primary" routerLink="/eventos/detalhe">
          <i class="fa fa-plus-circle my-1"></i>
          <span class="d-none d-sm-block ml-1">Novo</span>
        </a>
      </div>
    </div>
  </div>

  <div class="mt-2">
    <table class="table table-responsive-lg table-striped table-hover">
      <thead class="thead-dark">
        <tr>
          <th>Id</th>
          <th class="text-center d-none d-md-table-cell">
            <button
              class="btn btn-md btn-outline-light"
              (click)="ocultarImagem = !ocultarImagem"
              data-toggle="collapse"
              data-target=".navegacao"
            >
              <i
                class="{{
                  ocultarImagem
                    ? 'fa-solid fa-eye fa-lg '
                    : 'fa-solid fa-eye-slash fa-lg'
                }}"
              ></i>
              {{ ocultarImagem ? "Exibir" : "Ocultar" }}
            </button>
          </th>
          <th>Tema</th>
          <th class="d-none d-md-table-cell">Local</th>
          <th >Data</th>
          <th class="d-none d-md-table-cell">QtdPessoas</th>
          <th class="d-none d-md-table-cell">Lote</th>
          <th>Opções</th>
        </tr>
      </thead>
      <tbody *ngIf="eventosFiltrado && eventosFiltrado.length">
        <tr *ngFor="let evento of eventosFiltrado" (click)="Editar(evento.id)">
          <td>
            {{ evento.id }}
          </td>
          <td class="d-none d-md-table-cell">
            <!--../../assets/{{evento.imagemUrl}} ACESSO MANUAL POR PASTA-->
            <!--
                          FORMTAÇÃO INLINE DO WITDTH
                           <img src="/assets/{{evento.imagemUrl}}" width="150px">
                         -->
            <!-- FORMATAÇÃO COM PROPERTIES BIND (PROPRIEDADES DE ASSOCIAÇÃO )
                          OU SEJA JA FAZEM A INTERPOLAÇÃO E O BINDING PRA VOCE
                          COMO AQUI JA INDICAMOS QUE É UM PX BASTA PASSARMOS O NUMERO
                             OU SÓ O NUMERO OU A VARIAVEL
                         -->
            <!-- [collapse]Propriedade de binding(associação)-->
            <img
              src="/assets/{{ evento.imagemUrl }}"
              class="navegacao ml-auto mr-auto collapse navbar-collapse"
              [collapse]="ocultarImagem"
              [isAnimated]="true"
              [style.width.px]="larguraImagem"
              [style.margin.px]="margemImagem"
            />
            <!--trabalhando com a url http://localhost:4200/...-->
          </td>
          <td>
            {{ evento.tema }}
          </td>
          <td class="d-none d-md-table-cell">
            {{ evento.local }}
          </td>
          <td >
            {{ evento.dataEvento | DateTimeFormat }}
            <!--USANDO NOSSO PRIMEIRO PIPE(FILTRO)-->
          </td>
          <td class="d-none d-md-table-cell">
            {{ evento.qtdPessoas }}
          </td>
          <td class="d-none d-md-table-cell">
            {{ evento.lotes.leght > 0 ? evento[0].lotes[0].nome : "" }}
          </td>
          <td>

            <button
              class="btn btn-lg btn-danger mb-2 "
              tooltip="Excluir"
              (click)="OpenModal(template)"
            >
              <i class="fa fa-trash"></i>
            </button>
          </td>
        </tr>
      </tbody>
      <tfoot *ngIf="!eventosFiltrado.length">
        <tr>
          <td colspan="7" class="text-center">
            <strong>Não há itens</strong>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>


</div>

<!--
  COMO A INTERPOLAÇÃO E O BIND TRABALHAM ATRAVÉS DO PIPELINE(FILTRO)
  PROPRIEDADE PARA EXBIR TODOS OS OBJETOS JSON DENTRO DO OBJETO Eventos DE UMA VEZ NA TELA

  {{eventos | json}}
  -->

<!--DIRETIVA VINDO DO PROPRIO ANGULAR -->
<ng-template #template>
  <div class="modal-body text-center">
    <p>Desja realmente excluir?</p>
    <button type="button" class="btn btn-danger mr-2" (click)="Confirm()">
      Sim
    </button>
    <button type="button" class="btn btn-primary" (click)="Cancel()">
      Não
    </button>
  </div>
</ng-template>
